# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
AreaLinearCalc\bin
AreaLinearCalc\obj
CivilUtils\bin
CivilUtils\obj
CreateXmlConfig\bin
CreateXmlConfig\obj
LufsUtils\bin
LufsUtils\obj
MarkingCalc\bin
MarkingCalc\obj
MarkingCalcConfig\bin
MarkingCalcConfig\obj
RoadPavenment\bin
RoadPavenment\obj
VyrSl\bin
VyrSl\obj

# mstest test results
TestResults